.start {
  min-height: calc(100vh - 64px - 46px);
}

.explore {
  min-height: calc(100vh - 64px - 46px - 1rem);
}

@media only screen and (min-width: 635px) {
  .explore {
    min-height: calc(100vh - 64px - 46px - 3rem);
      }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}